<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Your existing head content -->
</head>
<body>
<nav>
        <div class="nav-container">
            <a href="https://bugbountylabs.com/">
  <h1>Bug Bounty Labs</h1>
</a>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}" {% if request.path == '/' %}class="active"{% endif %}>Inicio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn {% if request.path in ['/xss', '/sqli', '/cors', '/ssti', '/or', '/xss.html', '/sqli.html', '/cors.html', '/ssti.html', '/or.html'] %}active{% endif %}">Vulnerabilidades</a>
                    <div class="dropdown-content">
<a href="{{ url_for('xss') }}">Cross-Site Scripting (XSS)</a>
<a href="{{ url_for('sqli') }}">SQL Injection</a>
<a href="{{ url_for('cors') }}">CORS Misconfiguration</a>
<a href="{{ url_for('ssti') }}">Server-Side Template Injection</a>
<a class="active" href="{{ url_for('csrf') }}">Cross-Site Request Forgery (CSRF)</a>
<a href="xxe.html">XML External Entity</a>
<a href="rce.html">Remote Code Execution</a>
<a href="subdomain.html">Subdomain Takeover</a>
<a href="cache.html">Cache Poisoning</a>
<a href="ssrf.html">Server-Side Request Forgery</a>
<a href="idor.html">IDOR</a>                    </div>
                </li>
                <li><a href="{{ url_for('reglas') }}">Reglas</a></li>
                <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
                <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
        </div>
    </nav>